{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Accueil{% endblock %}

{% block body %}
  <a class="btn btn-primary" href="{{ path('app_sortie_new') }}">Créer une sortie</a>
{% endblock %}
