<form method="post" action="{{ path('app_admin_campus_delete', {'id': campus.id}) }}" onsubmit="return confirm('Etes vous sur de bien vouloir supprimer ce campus?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ campus.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
