<form method="post" action="{{ path('app_admin_ville_delete', {'id': ville.id}) }}" onsubmit="return confirm('Etes vous sur de bien vouloir supprimer cettte ville ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ville.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
