<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}ENI Sorties{% endblock %}</title>
        <meta name="viewport" content="width=devive-width, initial-scale=1">
        <link rel="icon" href="{{ asset('img/icon_sorties.png') }}">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <header>

        {% include('assets/navbar.html.twig') %}
    </header>
    <main>
        <div class="container large-margin-top">
            {% block body %}{% endblock %}
        </div>
    </main>
    <footer>
        {# TODO: Mettre un beau pied de page :-) #}
    </footer>
    </body>
</html>
